
@{
    ViewBag.Title = "index";
}

<div class="container">
    <div class="input-group">
        <span class="input-group-addon" id="Name">用户名</span>
        <input type="text" class="form-control" placeholder="用户名" aria-describedby="Name">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="Pwd">密码</span>
        <input type="password" class="form-control" placeholder="密码" aria-describedby="Pwd">
    </div>
    <button id="login" class="btn btn-primary">登 录</button>
</div>
<script>
    $(function () {
        
        $("#login").click(function () {
            //console.log($(".form-control").eq(0).val() + ":::" + $(".form-control").eq(1).val())
            $.ajax({
                url: '/Add/SelectLogin',
                //dataType: 'text',//json
                type: 'post',
                async: false,
                data: {
                    "Name": $(".form-control").eq(0).val(),
                    "Password": $(".form-control").eq(1).val()
                },
                success: function (json) {
                    console.log(json)
                    //if (data) {
                    //    console.log("Good")
                    //    location.href = "/add/weblist"
                    //}
                    //else {
                    //    console.log("Bad")
                    //}
                    //alert(data == "True" ? "登陆成功":"登录失败")
                    
                },
                error: function (err1, err2, err3) {
                    console.log(err2);
                    console.log(err1);
                }
            })
        })
    })

</script>